a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    }
  button.mysubmit {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    }

.container {
    display: grid;
    grid-template-areas: 
      "menu header"
      "menu content";
    grid-template-columns: 1fr 4fr;
    background-color: black;
    padding: 2px;
    gap: 1px;
  }
  .container div {
    background-color: white;
    padding: 0px;
  }
  .container div.header {
    grid-area: header;
    text-align: center;
    padding-top: 5px;
  }
  .container div.menu {
    background-color: #eee;
    grid-area: menu;
    padding: 10px;
  }
  .container div.contant {
    grid-area: content;
  }
  table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid #eee;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }
