<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DNS Proxy</title>
  </head>
  <body>
    <h1>DNS Proxy configuration</h1>
    <p>Filter has {} entries</p>
  </body>
</html>