<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    a.button {
      padding: 1px 6px;
      border: 1px outset buttonborder;
      border-radius: 3px;
      color: buttontext;
      background-color: buttonface;
      text-decoration: none;
      }
    </style>
    <meta charset="utf-8">
    <title>DNS Proxy</title>
  </head>
  <body>
    <h1>DNS Proxy configuration</h1>
    <p>Filter has {#ENTRIES} entries</p>
    <p>Last update: {#UPDATE_DATE}<p><br>
    <p>Listen address: {#LISTEN}</p>
    <p>DNS server: {#DNSSRV} <a href="change_ip.html" class="button">Change</a></p><br><br>
  </body>
</html>